@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Oxygen:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');


.navbar {
    background-color: #FFD700;
    /* Warna dasar navbar */
    font-family: 'Quicksand', 'sans-serif';
    font-weight: 600;
}

.navbar-brand {
    color: black;
    font-size: 28px;
    font-weight: 700;
}

.navbar-brand:hover {
    color: black;
    cursor: default !important;
}

.navbar-nav .nav-item {
    margin-right: 10px;
}

.navbar-nav .nav-link {
    color: #000;
    position: relative;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #F81F45;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #F81F45;
}

.navbar-nav .nav-link:hover::before {
    width: 100%;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-link.active {
    color: #F81F45 !important;
}

