/*Form*/

.card{
    font-family: 'Poppins', 'sans-serif';
    font-weight: normal;
}
.card-header{
    font-family: 'Quicksand', 'sans-serif';
    font-weight: bold;
    background-color: #FFD700;
    color: black;
}

.btn.btn-edit a{
    text-decoration: none;
    color: black;
    font-family: 'Poppins',sans-serif;
    font-size: 13px;
}
.btn.btn-hapus a{
    text-decoration: none;
    color: white;
    font-family: 'Poppins',sans-serif;
    font-size: 13px;
}
.btn.btn-edit{
    background-color: #FFD700;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.btn.btn-hapus{
    background-color: #F81F45;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.btn.btn-edit:hover{
    background-color: #FFD700;
    transform: scale(1.1);
}
.btn.btn-hapus:hover{
    background-color: #F81F45;
    transform: scale(1.1);
}

